# astyle indentation style file for the World Builder. The same setting are used 
# as in ASPECT to make contributing to the World Builder easier for ASPECT 
# developers.
# Note: you NEED to use astyle version 2.04 for correct results (older
# versions or 2.05 will not work)!

--style=gnu

# use spaces instead of tabs:
--convert-tabs
--indent-preprocessor
--indent=spaces=2
--indent-namespaces
--indent-labels
--min-conditional-indent=0

# add a space between if/for/while and following '(':
--pad-header

# indent the 'public/protected/private' specifiers, and further indent the
# rest of the declarations
--indent-classes

# indent case labels in a switch statement
--indent-switches

# write things as 'char *p', not 'char* p'
--align-pointer=name
--align-reference=name

--max-instatement-indent=80
--suffix=none
--quiet

