build*/
.cproject
.settings
.project
.vscode/
.compile_commands.json
Makefile
CTestTestfile.cmake
CMakeFiles
cmake_install.cmake
examples/fortran/a.out
examples/fortran/Makefile
examples/fortran/CMakeCache.txt
examples/fortran/CMakeFiles
source/config.cc
tests/bin/
tests/CTestTestfile.cmake
tests/cmake_install.cmake
bin/
lib/
Testing/
doc/doxygen/
doc/manual/html/
doc/manual/pdf/
*.xcf
