/doc/manual/manual.aux
/doc/manual/manual.bbl
/doc/manual/manual.blg
/doc/manual/manual.log
/doc/manual/manual.out
/doc/manual/manual.toc
/doc/manual/prmindex.idx
/doc/manual/prmindex.ilg
/doc/manual/prmindex.ind
/doc/manual/prmindexfull.idx
/doc/manual/prmindexfull.ilg
/doc/manual/prmindexfull.ind
/.cproject
/.project
/.settings
/output/
/build/
/aspect
