# The following files do not need to be in the release tarballs:
.github/ export-ignore
.gitattributes export-ignore
.gitignore export-ignore
.gitmodules export-ignore
contrib/release/ export-ignore
doc/sphinx/ export-ignore
doc/manual/ export-ignore
doc/update_parameters.sh export-ignore
Jenkinsfile export-ignore
.zenodo.json export-ignore
.mailmap export-ignore
.readthedocs.yaml export-ignore
.clang-tidy export-ignore

# Documentation shouldn't count as part of the language percentages.
**/doc/** linguist-documentation

# All of these gnuplot files are generated, and not code. They shouldn't count towards the percent
tests/**/*.gnuplot linguist-generated

# The world builder code shouldnt' be counted to ASPECT.
contrib/world_builder/** linguist-vendored
