*#
*~
/**/CMakeCache.txt
/**/CMakeFiles/
/**/cmake_install.cmake
/.cproject
/.project
/.settings
/AspectConfig.cmake
/CMakeLists.txt.user*
/CTestTestfile.cmake
/Makefile
/aspect
/benchmark/**/CMakeCache.txt
/benchmark/**/CMakeFiles/
/benchmark/**/Makefile
/benchmark/**/cmake_install.cmake
/benchmark/**/lib*.so
/benchmark/**/output/
/benchmark/tangurnis/*/*csv
/benchmark/tangurnis/*/solution*
/build*/
/cmake_install.cmake
/cookbooks/**/lib*.so
/cookbooks/**/output/
/detailed.log
/doc/aspect.dox
/doc/aspect.tag
/doc/deal.tag
/doc/doxygen/
/doc/manual/manual.aux
/doc/manual/manual.bbl
/doc/manual/manual.blg
/doc/manual/manual.log
/doc/manual/manual.out
/doc/manual/manual.toc
/doc/manual/prmindex.idx
/doc/manual/prmindex.ilg
/doc/manual/prmindex.ind
/doc/manual/prmindexfull.idx
/doc/manual/prmindexfull.ilg
/doc/manual/prmindexfull.ind
/output/
/tests/CMakeFiles/
/tests/CTestTestfile.cmake
/tests/Makefile
/tests/cmake_install.cmake
/tests/output-*/
/tests/*.x.prm
/tests/lib*.so
/Testing
