/**
 * @page changes_between_OLDVERSION_and_NEWVERSION Changes between version OLDVERSION and version NEWVERSION
 *
 * <p> This is the list of changes made after the release of Aspect version
 * OLDVERSION for version NEWVERSION. All entries are signed with the names of the author.
 * </p>
 *
