/**
 * @page changes_current Changes after the latest release (vVERSION)
 *
 * <p> This is the list of changes made after the release of Aspect version
 * VERSION. All entries are signed with the names of the author. </p>
 *
 *
 * <ol>
 *
 * </ol>
 */
