ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
  background-color: #ddd;
  color: #444;
  cursor: pointer;
  padding: 3px;
  width: auto;
  border: none;
  border-radius: 5px;
  margin: 10px;
  text-align: left;
  outline: none;
}

/* Style parameters that are no subsections */
.parameter {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 3px;
  width: auto;
  border: none;
  border-radius: 5px;
  margin: 10px;
  text-align: left;
  outline: none;
}
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
  background-color: #ccc;
}


/* show a + in front of expandable things and a - if it is expanded: */
.collapsible:not(.active)::before {
    content: "[+]";
}
.active::before {
    content: "[-]";
}

/* Style the collapsible content. Note: hidden by default */
.content {
  padding: 5px;
  margin: 0 18px;
  border-radius: 5px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
} 
